.sidebar {
  width: 300px;
  height: 100vh;
  background-color: #212529;
  transition: width 0.3s ease;
  overflow-x: hidden;
  border-right: 2px solid #cdcdcd;
}

.sidebar.mini {
  width: 100px;
  padding: 10px;
}

mat-nav-list{
  padding: 1.5rem;
}

::ng-deep .mat-mdc-nav-list .mat-mdc-list-item {
  color: #ffffff !important;
  display: flex;
  align-items: center;
}

.active {
  background-color: rgba(22, 90, 80, 1) !important;
  border-left: 4px solid #ffffff;
  border-radius: 8px!important;
}

::ng-deep .mat-mdc-nav-list .mat-mdc-list-item mat-icon,
.menu-text {
  color: #ffffff !important;
}

.sidebar.mini ::ng-deep .mat-mdc-nav-list .mat-mdc-list-item {
  justify-content: center;
}

.sidebar.mini ::ng-deep .mat-mdc-nav-list .mat-mdc-list-item mat-icon {
  margin-right: 0 !important;
}

.brand {
  color: #ffffff;
  padding: 1rem;
}