.kanbanBoard {
    width: 100%;
    overflow-x: auto;
    padding-bottom: 15px;
}

.kanbanContent {
    display: flex;
    gap: 1rem;
    width: max-content;
}

.newKanban{
    flex: 0 0 320px;
    margin-right: 0.8rem;
    background-color: #f8f8f8cc;
    border-radius: 8px;
    height: 80vh;
    overflow-y: auto;
}
.newkb-01{
    border-top: 5px solid #3498db;
}

.newkb-02{
    border-top: 5px solid #6c5ce7;
}

.newkb-03{
    border-top: 5px solid #f39c12;
}

.newkb-04{
    border-top: 5px solid #2ecc71;
}

.newkb-05{
    border-top: 5px solid #ef4444;
}

.newkb-06{
    border-top: 5px solid #894075;
}

.kanbanBoard::-webkit-scrollbar {
    height: 8px;
}
.kanbanBoard::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
}

.kanban-title p{
    font-weight: 600;
}
