.addNewKanban{
    float: right;
}

.kanbanTitle{
    float: left;
}

.kanbanTitle p{
    margin-top: 1.2rem;
}

.kanbanHeader{
    clear: both;
    overflow: hidden;
    border-bottom: 2px solid #165a50;
}
.addKanban{
    float: left;
}

.kanbanInput{
    float: left;
    width: 50%;
    margin-left: 1rem;
}

.kanbanInput input:focus {
    border: 2px solid #165a50!important;
    outline: none!important;
    box-shadow: 0 0 0 .25rem rgba(22, 90, 80, .25);
}